html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  color: white;
  background-color: red;
}

/* To Top Page Style */
.toTopPage {
  border: none;
  border-radius: 10%;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: white;
  padding: 5px 10px;
}
.toTopPage a {
  text-decoration: none;
  margin: auto;
}

/* Navbar Style */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 5%;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  background-color: rgba(20, 21, 23, 0.7);
  backdrop-filter: blur(5px);
}
nav .navbarNav {
  list-style-type: none;
  display: flex;
}
nav .navbarNav a {
  margin: 0 20px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 300ms;
}
nav .navbarNav a:hover {
  color: #0088ff;
}
nav .navbarName {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 5px;
}
.navbarNameContainer {
  display: flex;
  align-items: center;
}

.navbarMenu {
  display: none;
}

/* Home Style */
.home {
  display: block;
  border-top: 1px solid #141517;
  background-color: #141517;
  padding-bottom: 8%;
}
.homeContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
  margin-top: 8%;
  align-items: center;
}
.homeContainer .leftSideOverview {
  line-height: 0.7;
}
.homeContainer h1 {
  color: #0088ff;
  font-size: 2.5rem;
}
.homeContainer h2 {
  padding: 0;
  margin: 0;
  font-size: 2.3rem;
}
.homeContainer h3 {
  font-size: 1.8rem;
}
.homeContainer .leftSideOverview button {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #141517;
  transition: 300ms;
  margin-top: 15px;
}
.homeContainer .leftSideOverview button:hover {
  cursor: pointer;
  background-color: white;
}
.homeContainer .leftSideOverview button:hover a {
  color: #0088ff;
}
.homeContainer .leftSideOverview button a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.homeContainer .sideImg {
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.homeContainer .sideImg img {
  width: 500px;
}
.homeContainer .socialMediaContainer a {
  margin-right: 8px;
}
.homeContainer .socialMediaContainer a svg path {
  transition: 300ms;
}
.homeContainer .socialMediaContainer a:hover svg path {
  fill: #bbb;
}


/* About Style */
.about {
  background-color: rgb(24, 25, 27);
  margin: 0;
  padding: 7rem 0;
}
.aboutContainer {
  margin: 0 15%;
}
.about h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
.about h1 span {
  color: #0088ff;
  margin-left: .3em;
}
.about p {
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  font-weight: 500;
  line-height: 1.8;
}

/* Skills Style */
.skills {
  background-color: #141517;
  padding: 7rem 10%;
}
.skills h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.skillsLogo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.logoContainer {
  border: 1px solid rgba(187, 187, 187, .5);
  border-radius: 1rem;
  padding: 1% 3%;
  transition: 300ms;
  margin: 1.5rem
}
.logoContainer img {
  width: 120px;
  margin: auto;
  transition: 300ms;
}
.logoContainer img {
  filter: grayscale(100%);
}
.logoContainer:hover {
  background-color: rgb(24, 25, 27);
}
.logoContainer:hover img {
  filter: grayscale(0%);
}

/* Projects Style */
.projects {
  background-color: rgb(24, 25, 27);
  padding: 7rem 10%;
}
.projects h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.projectsCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projectsCard {
  border: 1px solid rgba(187, 187, 187, .5);
  border-radius: 1.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: 300ms;
}
.projectsCard:hover {
  transform: scale(1) translate(0, -8px);
}
.projectsCard .cardPreview {
  width: 500px;
}
.projectsCard .underImg {
  padding: 1% 5%;
}
.projectsCard h2 {
  margin: 2% 0;
  padding: 0;
}
.cardIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardIconLeft img {
  width: 60px;
}
.cardIconRight a svg {
  transition: 300ms;
}
.cardIconRight a svg:hover {
  margin-bottom: 10px;
  fill: #bbb;
}

/* Contact Style */
.contact {
  background-color: #141517;
  padding: 7rem 10%;
}
.contact h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  text-align: center;
}
.formContainer {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form label {
  margin-bottom: 1rem;
}
.form input {
  padding: 10px;
  border-radius: .5rem;
  width: 30rem;
}
.form textarea {
  padding: 10px;
  border-radius: .5rem;
  width: 30rem;
  resize: vertical;
}
.form h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  margin-bottom: 5px;
}
.form h4.required::after {
  content: "*";
  color: red;
}
.sendBtn {
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: #141517;
  width: 20%;
  transition: 300ms;
}
.sendBtn:hover {
  cursor: pointer;
  background-color: white;
  color: #0088ff;
}

/* Footer Style */
footer {
  border-top: 1px solid rgba(255, 255, 255, .5);
  background-color: #141517;
  text-align: center;
  padding: 30px;
  font-size: 1.1rem;
  color: #bbb;
}
 

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .homeContainer .sideImg {
    width: 350px;
    height: 350px;
  }
  .homeContainer .sideImg img {
    width: 350px;
  }
  .logoContainer img {
    width: 100px;
  }
  .projectsCard .cardPreview {
    width: 450px;
  }
}

/* Tablet */
@media (max-width: 800px) {
  html {
    font-size: 67%;
  }
  nav {
    padding: 10px 40px;
  }
  .navbarMenu {
    display: inline-block;
  }
  .navbarMenu:hover {
    color: #385fc9;
    cursor: pointer;
  }
  nav .navbarNav.active {
    right: 0;
  }
  nav .navbarNav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    transition: 300ms;
    z-index: 999;
  }
  nav .navbarNav a {
    margin-top: 20px;
    margin-left: 15%;
    font-size: 18px;
    color: #141517;
  }
  .homeContainer {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 3%;
  }
  .homeContainer .leftSideOverview {
    margin-top: 3rem;
  }
  .homeContainer .leftSideOverview {
    line-height: 0.6;
  }
  .about p {
    text-align: left;
    margin-left: 20px;
  }
  .logoContainer img {
    width: 90px;
  }
  .projectsCard .cardPreview {
    width: 350px;
  }
  .cardIconLeft img {
    width: 50px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 58%;
  }
  .homeContainer .sideImg {
    width: 300px;
    height: 300px;
  }
  .homeContainer .sideImg img {
    width: 300px;
  }
  .logoContainer img {
    width: 80px;
  }
  .projectsCard .cardPreview {
    width: 250px;
  }
  .cardIconLeft img {
    width: 35px;
  }
}
